name: publish action image
on:
  push:
    branches:
        - main
    paths:
        - action/**'
        - .github/workflows/publish-action-image.yml

permissions:
  contents: read
  packages: write

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build and push Helm base image
              run: |
                    docker build -t ghcr.io/${{ github.repository_owner }}/helm-actions:latest ./action
                    docker push ghcr.io/${{ github.repository_owner }}/helm-actions:latest